<!DOCTYPE html>

<title>AffectationRessources index</title>

{% block body %}
    <h1>AffectationRessources index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Mois</th>
                <th>Pourcentage</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for affectation_ressource in affectation_ressources %}
            <tr>
                <td>{{ affectation_ressource.id }}</td>
                <td>{{ affectation_ressource.Mois }}</td>
                <td>{{ affectation_ressource.pourcentage }}</td>
                <td>
                    <a href="{{ path('affectation_ressources_show', {'id': affectation_ressource.id}) }}">show</a>
                    <a href="{{ path('affectation_ressources_edit', {'id': affectation_ressource.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('affectation_ressources_new') }}">Create new</a>
{% endblock %}
